{% load staticfiles %}

<html>
  <head>
    <title> Nicole's Blog </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Feed | Girls Help</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='gh_icon.jpeg' />
    <link href="girlshelp.css" rel="stylesheet" />
    <script src="girlshelp.js" type="text/javascript"></script>


    <div class="topnav" id="myTopnav">
    <a href="girlshelp.html">Home</a>
    <a href="base.html">Feed</a>
    <a href="#contact">Groups</a>

    <div class="dropdown">
      <button onclick="showProfileDropdown()" class="dropbtn"><img src="profileicon.png" width="40" height="40"></button>
      <div class="dropdown-content" id="profileDropdown">
      <a href="login.html">Log in</a>
      <a href="#">Create an account</a>
      <a href="#">My Profile</a>
      <a href="#">Edit groups</a>
      <a href="#">Log out</a>
    </div>
    </div>
    </div>
    </head>

  <body>
    <div class="page-header">
        <h1><a href="girlshelp.html">Django Girls Blog</a></h1>
        <div class="container">
          <label><b>Question</b></label>
          <input id="question" type="text" placeholder="Ask a question" name="question" required>

          <button onclick="showQuestion()" type="submit">Submit</button>
          <p id="printedquestion"> </p>
        </div>
        {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>

    <button onclick="location.href='post_detail.html'" type="button"> Post </button>
</body>
</html>
