<!DOCTYPE html>
<html>
  <head>
    <title>Girls Help</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='gh_icon.jpeg' />
    <link href="girlshelp.css" rel="stylesheet" />
    <script src="girlshelp.js" type="text/javascript"></script>

    <div class="topnav" id="myTopnav">
    <a href="girlshelp.html">Home</a>
    <a href="base.html">Feed</a>
    <a href="#contact">Groups</a>

    <div class="dropdown">
      <button onclick="showProfileDropdown()" class="dropbtn"><img src="profileicon.png" width="40" height="40"></button>
      <div class="dropdown-content" id="profileDropdown">
      <a href="login.html">Log in</a>
      <a href="#">Create an account</a>
      <a href="#">My Profile</a>
      <a href="#">Edit groups</a>
      <a href="#">Log out</a>
    </div>
    </div>

    </div>
  </head>

  <body>
    <div>
      <img id="titlepic" src="titlepic.jpeg" alt="Girls Help Title" width="700" height="300">
      <div class="parallax"></div>
      <div class="content">
        <h1>About Us</h1>
        <p id="abouttext"> We are a girls chat platform built by girls, for girls.  We are targeting girls aged 13-18 to ask questions to other girls about a wide variety of topics.  Our mission is to provide an outlet for young girls to communicate with other young girls about anything they have questions.
</p>
      </div>
    </div>
  </body>
</html>
