.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.topnav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 100px;
    /*margin-top: 20px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    padding-left: 993px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #FFAEC9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#titlepic {
  display: block;
   margin: auto;
   width: 40%;
}

.parallax {
/* The image used */
background-image: url("flowers.jpg");
/* Set a specific height */
min-height: 300px;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

h1 {
  color: #C8BFE7;
  font-size: 45px;
  font-family: Assistant;
}


#abouttext {
  color: black;
  font-family: Assistant;
  font-size: 30px;
}
